
.canvas{
	-fx-alignment: center;
	-fx-pref-width: 1366px;
	-fx-pref-height: 768px;
	-fx-background-color: #fff;
}


#center .label{
	-fx-padding: 10 0 10 0;
	-fx-alignment: center;
	-fx-min-width: 150px;
	-fx-font-family: "等线 Light (标题)";
	-fx-text-fill: #1E56A0;
	-fx-font-size: 25px;
}

.choice_contain{
	-fx-pref-width: 350px;
	-fx-font-size: 20px;
	-fx-min-width: 350px;
	-fx-max-width: 350px;
}
.choiceBox{
	-fx-alignment: center-left;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-border-color: #fff;
	-fx-min-width: 300px;
	-fx-background-color: #ffffff;
}
/*#center .label:hover{*/
	/*-fx-border-color:#1E56A0;*/

/*}*/

.listView{
	-fx-pref-width: 308px;
	-fx-min-width: 300px;
	-fx-min-height: 713px;
	-fx-max-width: 350px;
	-fx-background-color: #eee;
	-fx-font-family: "等线 Light (标题)";
	-fx-font-size: 20px;
}

.tableView{
	-fx-min-width: 850px;
	-fx-background-color: #fff;
	-fx-pref-width: 308px;
}

.right_contain{
	-fx-padding: 0 0 0 10;
}

.label_head{
	-fx-min-width: 200px;
	-fx-max-width: 250px;
	-fx-pref-height: 25px;
	-fx-max-height: 25px;
	-fx-min-height: 25px;
	-fx-text-fill:  #1E56A0;
	-fx-start-margin: 2px;
	-fx-font-size: 20px;
	-fx-alignment: top-left;
	/*-fx-translate-x: -10px;*/
}

.label_right{
	-fx-padding: 20 10 0 0;
	-fx-min-width: 200px;
	-fx-max-width: 250px;
	-fx-pref-height: 400px;
	-fx-text-fill: #1E56A0;
	-fx-font-size: 20px;
	-fx-wrap-text: true;
}

 .label_del{
	-fx-alignment: center;
	-fx-pref-width: 73px;
	-fx-pref-height: 30px;
	-fx-background-color: #eee;
	 -fx-text-fill: #1E56A0;
}


 .label_del:hover{
	 -fx-border-color:#1E56A0;
 }
.label_commit{
}